<td-layout-nav logo="assets:logobank" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Agregar/Editar Proceso (Configuración de Proceso)</span>
    <span flex></span>
  </div>
  <mat-card class="push-bottom-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <td-steps mode="horizontal" linear="true">

      <td-step #step1 label="Crear Proceso" sublabel="Datos básicos del Proceso" [state]="stateStep1" [active]="true">
        <form #procesoForm="ngForm">
          <mat-card flex-gt-sm>
            <mat-card-title>Agregar configuración principal del proceso</mat-card-title>
            <ng-template tdLoading="proceso.form">
              <mat-card-content class="push-bottom-none">

                <div layout="row">
                  <mat-form-field flex>
                    <input matInput #Nombre_ProcesoElement #Nombre_ProcesoControl="ngModel" type="text"
                      placeholder="Nombre" [(ngModel)]="Nombre_Proceso" name="Nombre_Proceso"
                      (blur)="validarEspacios(Nombre_Proceso,Nombre_ProcesoControl);" maxlength="100"
                      onKeyPress="return event.charCode>32; " required>
                    <mat-hint align="start">
                      <span [hidden]="Nombre_ProcesoControl.pristine" class="tc-red-600">
                        <span [hidden]="!Nombre_ProcesoControl.hasError('required')">Requerido</span>
                      </span>
                    </mat-hint>
                    <mat-hint align="end">{{Nombre_ProcesoElement.value.length}} / 100</mat-hint>
                  </mat-form-field>
                </div>

                <div layout="row" class="push-top">
                  <mat-form-field flex>
                    <input matInput #Desc_ProcesoElement #Desc_ProcesoControl="ngModel" type="text"
                      placeholder="Descripción" [(ngModel)]="Desc_Proceso" name="Desc_Proceso"
                      (blur)="validarEspacios(Desc_Proceso,Desc_ProcesoControl);" maxlength="100" required>
                    <mat-hint align="start">
                      <span [hidden]="Desc_ProcesoControl.pristine" class="tc-red-600">
                        <span [hidden]="!Desc_ProcesoControl.hasError('required')">Requerido</span>
                      </span>
                    </mat-hint>
                    <mat-hint align="end">{{Desc_ProcesoElement.value.length}} / 100</mat-hint>
                  </mat-form-field>
                </div>

                <div layout="row">
                  <mat-form-field flex>
                    <mat-label>Area de Negocio</mat-label>
                    <mat-select [(ngModel)]="Id_AreaNegocio" name="Id_AreaNegocio" required>
                      <mat-option *ngFor="let area of areas" [value]="area.Id_AreaNegocio">
                        {{area.Nombre_AreaNegocio}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div layout="row" class="push-top">
                  <mat-form-field flex>
                    <input matInput #Num_TiempoEstimadoEjecElement #Num_TiempoEstimadoEjecControl="ngModel"
                      type="number" placeholder="Tiempo Estimado de Ejecución (minutos)"
                      [(ngModel)]="Num_TiempoEstimadoEjec" name="Num_TiempoEstimadoEjec" max="9999"
                      onKeyPress="if(this.value.length==4) return false; return event.charCode>= 48 && event.charCode <=57; "
                      (blur)="validarCero(Num_TiempoEstimadoEjec, Num_TiempoEstimadoEjecControl);" min="1" required>
                    <mat-hint align="start">
                      <span [hidden]="Num_TiempoEstimadoEjecControl.pristine" class="tc-red-600">
                        <span [hidden]="!Num_TiempoEstimadoEjecControl.hasError('Obligatorio')">Requrido: </span>
                        <span *ngIf="!Num_TiempoEstimadoEjecControl.hasError('minlength')">Valor mínimo: 1 </span>
                        <span *ngIf="!Num_TiempoEstimadoEjecControl.hasError('maxlength')">Valor máximo: 9999</span>
                      </span>
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div layout="row" class="push-top">
                  <mat-slide-toggle #Cb_UtilizaParametrosElement #Cb_UtilizaParametrosControl
                    [(ngModel)]="Cb_UtilizaParametros2" name="Cb_UtilizaParametros"
                    (change)="activarForm(Cb_UtilizaParametrosElement, Cb_ActualAutomaParametrosElement)">
                    Utiliza Parámetros
                  </mat-slide-toggle>
                </div>

                <div layout="row" class="push-top">
                  <mat-slide-toggle #Cb_ActualAutomaParametrosElement #Cb_ActualAutomaParametrosControl
                    [(ngModel)]="Cb_ActualAutomaParametros2" name="Cb_ActualAutomaParametros"
                    [disabled]="disabledSlide">Actualiza Parámetros Automaticamente</mat-slide-toggle>
                </div>

                <mat-divider></mat-divider>

                <div layout="row" class="push-top">
                  <mat-slide-toggle #Cb_RevisionAutomaticaUsuarioElement #Cb_RevisionAutomaticaUsuarioControl
                    [(ngModel)]="Cb_RevisionAutomaticaUsuario2" name="Cb_RevisionAutomaticaUsuario">Se certifica
                    automáticamente por parte del usuario</mat-slide-toggle>
                </div>

                <div layout="row" class="push-top">
                  <mat-slide-toggle #Cb_RevisionAutomaticaOperadorElement #Cb_RevisionAutomaticaOperadorControl
                    [(ngModel)]="Cb_RevisionAutomaticaOperador2" name="Cb_RevisionAutomaticaOperador">Se certifica
                    automáticamente por parte del operador</mat-slide-toggle>
                </div>

                <mat-divider></mat-divider>

                <div layout="row" class="push-top">
                  <mat-slide-toggle #Cb_PermitirSolicitudOperadorElement #Cb_PermitirSolicitudOperadorControl
                    [(ngModel)]="Cb_PermitirSolicitudOperador2" name="Cb_PermitirSolicitudOperador">Se permite solicitar
                    proceso a demanda por parte del operador</mat-slide-toggle>
                </div>

              </mat-card-content>
            </ng-template>
          </mat-card>
          <ng-template td-step-actions>
            <button mat-raised-button [disabled]="!procesoForm.form.valid" color="accent" matStepperNext
              (click)="loadProcesoTD();toggleCompleteStep1(); step2.disabled = disabled; step2.active = true; ">Siguiente
            </button>
            <button mat-button (click)="goBack()">Cancelar</button>
          </ng-template>
        </form>
      </td-step>

      <td-step #step2 label="Prerrequisitos" sublabel="Sistemas fuentes / Procesos" [state]="stateStep2"
        [active]="deactive" [disabled]="enable">
        <div layout-gt-sm="column2">
          <mat-card flex-gt-sm>
            <mat-card-title>Agregar sistema fuente</mat-card-title>
            <mat-card-content class="push-bottom-none">
              <div layout="row">
                <mat-form-field flex style="width: 50%;">
                  <mat-label>Sistemas Fuente</mat-label>
                  <mat-select [(ngModel)]="Id_SistemaFuente" multiple name="Id_SistemaFuente" #fuenteSelect="ngModel"
                    (ngModelChange)="agregarFuente(Id_SistemaFuente)">
                    <mat-option *ngFor="let fuente of fuentes" [value]="fuente.Id_SistemaFuente">
                      {{fuente.Nombre_SistemaFuente}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card flex-gt-sm>
              <mat-card-title>Sistema fuente agregado</mat-card-title>
              <div class="pad" *ngIf="fuenteAdded2?.length === 0" layout="row" layout-align="center center">
                <h3>No existen fuentes agregadas al Proceso.</h3>
              </div>
              <mat-divider></mat-divider>
              <mat-nav-list class="will-load item-list">

                <ng-template let-item let-last="last" ngFor [ngForOf]="fuenteAdded2">
                  <a mat-list-item layout-align="row">
                    <mat-icon matListAvatar> storage </mat-icon>
                    <span flex></span>
                    <span class="mat-caption" flex="20"> {{item.Nombre_SistemaFuente }} </span>
                    <span flex></span>
                    <span class="mat-caption" flex="20"> {{item.Nombre_TipoSistemaFuente }}
                    </span>
                    <span flex></span>
                    <span class="mat-caption" flex="10"> {{item.Hora_Inicio }} </span>
                    <span flex></span>
                    <span class="mat-caption" flex="10"> {{item.Hora_Fin }} </span>
                  </a>
                  <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                </ng-template>
              </mat-nav-list>
            </mat-card>

          </mat-card>

          <mat-card flex-gt-sm>
            <mat-card-title>Agregar proceso</mat-card-title>
            <mat-card-content class="push-bottom-none">
              <div layout="row">
                <mat-form-field flex>
                  <mat-label>Procesos Prerrequisitos</mat-label>
                  <mat-select [(ngModel)]="Id_ProcesoPre" name="Id_ProcesoPre" #procesoSelect="ngModel" multiple
                    (ngModelChange)=" limpiarIds(); agregarProcesoPre(Id_ProcesoPre);">
                    <mat-option *ngFor="let procesopre of procesos" [value]="procesopre.Id_Proceso">
                      {{procesopre.Nombre_Proceso}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>

            <mat-card flex-gt-sm>
              <mat-card-title>Proceso agregado</mat-card-title>
              <div class="pad" *ngIf="procesoPreAdded?.length === 0" layout="row" layout-align="center center">
                <h3>No existen procesos agregados.</h3>
              </div>
              <mat-divider></mat-divider>
              <mat-nav-list class="will-load item-list">
                <ng-template let-item let-last="last" ngFor [ngForOf]="procesoPreAdded">
                  <a mat-list-item layout-align="row">
                    <mat-icon matListAvatar> business </mat-icon>
                    <h4 matLine>{{ item.Nombre_ProcesoRequerido }}</h4>
                  </a>
                  <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                </ng-template>
              </mat-nav-list>
            </mat-card>
          </mat-card>

        </div>

        <ng-template td-step-actions>
          <button mat-raised-button [disabled]="!procesoForm.form.valid" color="accent"
            (click)="toggleCompleteStep2(); step3.disabled = disabled; step3.active = true;">Siguiente
          </button>
          <button mat-button (click)="goBack()">Cancelar</button>
        </ng-template>

      </td-step>

      <td-step #step3 label="Prerrequisitos" sublabel="Ruta Archivos Fuente / Procesos FWK" [state]="stateStep3"
        [disabled]="enable">
        <div layout-gt-sm="column2">
          <mat-card flex-gt-sm>
            <mat-card-title>Agregar ruta archivos fuente</mat-card-title>
            <mat-card-content class="push-bottom-none">
              <div layout="row">
                <mat-form-field flex>
                  <input matInput #DescripcionRutaArchivoElement #DescripcionRutaArchivoControl="ngModel" type="text"
                    placeholder="Ruta Archivo" [(ngModel)]="DescripcionRutaArchivo" name="DescripcionRutaArchivo"
                    (blur)="validarEspacios(DescripcionRutaArchivo,DescripcionRutaArchivoControl);" maxlength="120">
                  <mat-hint align="end">{{DescripcionRutaArchivoElement.value.length}} / 120</mat-hint>
                </mat-form-field>
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <a mat-fab color="primary" class="mat-fab-bottom" (click)="agregarRutaPre(DescripcionRutaArchivo)">
                <mat-icon>done</mat-icon>
              </a>
            </mat-card-actions>

            <mat-card flex-gt-sm>
              <mat-card-title>Ruta(s) agregada(s)</mat-card-title>
              <div class="pad" *ngIf="rutaPreProAdded?.length === 0" layout="row" layout-align="center center">
                <h3>No existen rutas agregadas al Proceso.</h3>
              </div>
              <mat-divider></mat-divider>
              <mat-nav-list class="will-load item-list">

                <ng-template let-item let-last="last" ngFor [ngForOf]="rutaPreProAdded">
                  <a mat-list-item layout-align="row">
                    <mat-icon matListAvatar> folder_shared </mat-icon>
                    <h4 matLine>{{item.Desc_RutaArchivo }}</h4>
                    <button mat-icon-button color="blue" (click)="deleteRuta(item.Desc_RutaArchivo)">
                      <mat-icon class="mat-18">delete</mat-icon>
                    </button>
                  </a>
                  <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                </ng-template>
              </mat-nav-list>
            </mat-card>

          </mat-card>

          <mat-card flex-gt-sm>
            <mat-card-title>Agregar proceso Framework paramétrico</mat-card-title>
            <mat-card-content class="push-bottom-none">
              <div layout="row">
                <mat-form-field flex>
                  <mat-label>Procesos Framework</mat-label>
                  <mat-select [(ngModel)]="ProcesoCD" name="ProcesoCD" #procesoTDSelect="ngModel" multiple
                    (ngModelChange)="cambiaProGestor(); agregarProcesoTD(ProcesoCD);">
                    <mat-option *ngFor="let procesotd of procesosTD" [value]="procesotd.ProcesoCD">
                      {{procesotd.NombreProceso}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>

            <mat-card flex-gt-sm>
              <mat-card-title>Proceso(s) Framework agregado(s)</mat-card-title>
              <div class="pad" *ngIf="relProcesoGestorAdded2?.length === 0" layout="row" layout-align="center center">
                <h3>No existen procesos del Framework agregados al Proceso.</h3>
              </div>
              <mat-divider></mat-divider>
              <mat-nav-list class="will-load item-list">

                <ng-template let-item let-last="last" ngFor [ngForOf]="relProcesoGestorAdded2">
                  <a mat-list-item layout-align="row">
                    <mat-icon matListAvatar> folder_shared </mat-icon>
                    <h4 matLine>{{item.NombreProceso }}</h4>
                    <span class="mat-caption" flex="20"> {{item.NombreProceso }} </span>
                  </a>
                  <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                </ng-template>
              </mat-nav-list>
            </mat-card>

          </mat-card>
        </div>

        <ng-template td-step-actions>
          <button mat-raised-button [disabled]="!procesoForm.form.valid" color="accent"
            (click)="horarioFuentesMinMax(); toggleCompleteStep3(); step4.disabled = disabled; step4.active = true;">Siguiente
          </button>
          <button mat-button (click)="goBack()">Cancelar</button>
        </ng-template>
      </td-step>

      <td-step #step4 label="Resumen" sublabel="Resumen del proceso y creación" [state]="stateStep5"
        [disabled]="enable">
        <mat-card flex-gt-sm>

          <div layout-gt-sm="column2">
            <mat-card flex-gt-sm>
              <mat-card-title>Proceso</mat-card-title>
              <mat-card-content class="push-bottom-none" *ngIf="show">

                <div layout="row">
                  <mat-form-field flex>
                    <input matInput #Nombre_ProcesoElement #Nombre_ProcesoControl="ngModel" type="text"
                      placeholder="Nombre del Proceso" [(ngModel)]="Nombre_Proceso" name="Nombre_Proceso" maxlength="30"
                      [disabled]="true">
                  </mat-form-field>
                </div>
                <div layout="row">
                  <mat-form-field flex>
                    <mat-label>Area de Negocio</mat-label>
                    <mat-select [(ngModel)]="Id_AreaNegocio" [disabled]="true" name="Id_AreaNegocio">
                      <mat-option *ngFor="let area of areas" [value]="area.Id_AreaNegocio">
                        {{area.Nombre_AreaNegocio}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div layout="row" class="push-top">
                  <mat-form-field flex>
                    <input matInput #Num_TiempoEstimadoEjecElement #Num_TiempoEstimadoEjecControl="ngModel"
                      type="number" placeholder="Tiempo Estimado de Ejecución (minutos)"
                      [(ngModel)]="Num_TiempoEstimadoEjec" name="Num_TiempoEstimadoEjec" max="9999" min="0"
                      [disabled]="true">

                  </mat-form-field>
                </div>

                <div layout="row" class="push-top">
                  <mat-slide-toggle #Cb_UtilizaParametrosElement #Cb_UtilizaParametrosControl
                    [(ngModel)]="Cb_UtilizaParametros2" name="Cb_UtilizaParametros"
                    (change)="activarForm(Cb_UtilizaParametrosElement)" [disabled]="true">
                    Utiliza Parámetros
                  </mat-slide-toggle>
                </div>

                <div layout="row" class="push-top">
                  <mat-slide-toggle #Cb_ActualAutomaParametrosElement #Cb_ActualAutomaParametrosControl
                    [(ngModel)]="Cb_ActualAutomaParametros2" name="Cb_ActualAutomaParametros" [disabled]="true">
                    Actualiza Parámetros Automaticamente</mat-slide-toggle>
                </div>
              </mat-card-content>
              <mat-divider></mat-divider>

              <mat-card-title>Sistema fuente agregado</mat-card-title>
              <div class="pad" *ngIf="fuenteAdded2?.length === 0" layout="row" layout-align="center center">
                <h3>No existen fuentes agregadas al Proceso.</h3>
              </div>
              <mat-divider></mat-divider>
              <mat-nav-list class="will-load item-list">

                <ng-template let-item let-last="last" ngFor [ngForOf]="fuenteAdded2">
                  <a mat-list-item layout-align="row">
                    <mat-icon matListAvatar> storage </mat-icon>
                    <span flex></span>
                    <span class="mat-caption" flex="20"> {{item.Nombre_SistemaFuente }} </span>
                    <span flex></span>
                    <span class="mat-caption"> {{item.Nombre_TipoSistemaFuente }} </span>
                    <span flex></span>
                    <span class="mat-caption" flex="20"> {{item.Hora_Inicio }} </span>
                    <span flex></span>
                    <span class="mat-caption" flex="20"> {{item.Hora_Fin }} </span>
                  </a>
                  <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                </ng-template>
              </mat-nav-list>

              <mat-divider></mat-divider>

              <mat-card-title>Proceso agregado</mat-card-title>
              <div class="pad" *ngIf="procesoPreAdded?.length === 0" layout="row" layout-align="center center">
                <h3>No existen procesos agregados.</h3>
              </div>
              <mat-divider></mat-divider>
              <mat-nav-list class="will-load item-list">
                <ng-template let-item let-last="last" ngFor [ngForOf]="procesoPreAdded">
                  <a mat-list-item layout-align="row">
                    <mat-icon matListAvatar> business </mat-icon>
                    <h4 matLine>{{ item.Nombre_ProcesoRequerido }}</h4>
                  </a>
                  <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                </ng-template>
              </mat-nav-list>

            </mat-card>

            <mat-card flex-gt-sm>
              <mat-card-title>Ruta(s) agregada(s)</mat-card-title>
              <div class="pad" *ngIf="rutaPreProAdded?.length === 0" layout="row" layout-align="center center">
                <h3>No existen rutas agregadas al Proceso.</h3>
              </div>
              <mat-divider></mat-divider>
              <mat-nav-list class="will-load item-list">

                <ng-template let-item let-last="last" ngFor [ngForOf]="rutaPreProAdded">
                  <a mat-list-item layout-align="row">
                    <mat-icon matListAvatar> folder_shared </mat-icon>
                    <h4 matLine>{{item.Desc_RutaArchivo }}</h4>
                  </a>
                  <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                </ng-template>
              </mat-nav-list>

              <mat-divider></mat-divider>

              <mat-card-title>Proceso(s) Framework agregado(s)</mat-card-title>
              <div class="pad" *ngIf="relProcesoGestorAdded2?.length === 0" layout="row" layout-align="center center">
                <h3>No existen procesos del Framework agregados al Proceso.</h3>
              </div>
              <mat-divider></mat-divider>
              <mat-nav-list class="will-load item-list">

                <ng-template let-item let-last="last" ngFor [ngForOf]="relProcesoGestorAdded2">
                  <a mat-list-item layout-align="row">
                    <mat-icon matListAvatar> folder_shared </mat-icon>
                    <h4 matLine>{{item.NombreProceso }}</h4>
                    <span class="mat-caption" flex="20"> {{item.NombreProceso }} </span>
                  </a>
                  <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                </ng-template>
              </mat-nav-list>
            </mat-card>


          </div>
        </mat-card>

        <ng-template td-step-actions>
          <button mat-raised-button [disabled]="!procesoForm.form.valid || !procesoForm.form.hasError" color="accent"
            (click)="save()">Guardar
          </button>
          <button mat-button (click)="goBack()">Cancelar</button>
        </ng-template>
      </td-step>

    </td-steps>
  </mat-card>
</td-layout-nav>