<td-layout #layout>
  <td-navigation-drawer logo="assets:logobank" sidenavTitle="{{perfil}}" name="{{user}}" >
    <mat-nav-list>
      <ng-template let-item let-last="last" ngFor [ngForOf]="menus">
        <a mat-list-item [routerLink]="'/'+[item.Path]" (click)="layout.close()"><mat-icon>{{item.Text}}</mat-icon>{{item.Name}}</a>
      </ng-template>
    </mat-nav-list>
    <mat-nav-list td-navigation-drawer-menu>
      <a mat-list-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Salir</a>
    </mat-nav-list>
  </td-navigation-drawer>
  <router-outlet></router-outlet>
</td-layout>
