<td-layout-nav logo="assets:logobank" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="center center" flex>
        <span style="color: white;">Consulta de ejecuciones</span>
        <span flex></span>
        <app-notificaciones></app-notificaciones>
    </div>
    <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
        <mat-card-title>Filtrar Procesos por Fecha</mat-card-title>

        <mat-divider></mat-divider>
        <mat-card-content>
            <div layout-gt-sm="column2">
                <form #filtroForm="ngForm">
                    <div layout-gt-sm="column2">
                        <div flex>
                            <mat-form-field flex>
                                <input #Fecha_InicioElement #Fecha_InicioControl="ngModel" name="Fecha_Inicio" matInput
                                    [matDatepicker]="picker" placeholder="Fecha Inicial" [(ngModel)]="Fecha_Inicio"
                                    format="dd/MM/yyyy" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div flex>
                            <mat-form-field>
                                <input #Fecha_FinElement #Fecha_FinControl="ngModel" name="Fecha_Fin" matInput
                                    [matDatepicker]="picker2" placeholder="Fecha Final" [(ngModel)]="Fecha_Fin"
                                    [min]="Fecha_Inicio" format="dd/MM/yyyy" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                </form>
                <mat-card-actions>
                    <button flex mat-raised-button color="accent" [disabled]="!filtroForm.form.valid"
                        (click)="load()">Buscar</button>
                </mat-card-actions>

            </div>
        </mat-card-content>
    </mat-card>

    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="isLoading" style="margin: auto;">
    </mat-progress-spinner>
    <mat-card class="push-bottom-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="show">
        <div class="pad" *ngIf="!isLoading && filteredEjecuciones?.length === 0" layout="row"
            layout-align="center center">
            <h3>No existen ejecuciones programadas para mostrar.</h3>
        </div>
        <div [hidden]="isLoading">
            <div class="example-container mat-elevation-z8">
                <!--mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"-->
                <mat-table matTableFilter [exampleEntity]="filterEntity" [filterType]="filterType"
                    [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                    <ng-container matColumnDef="Nombre_Proceso">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;" flex="20">
                            <b>
                                <mat-form-field>
                                    <input matInput placeholder="Nombre Proceso"
                                        [(ngModel)]="filterEntity.Nombre_Proceso">
                                </mat-form-field>
                            </b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" flex="20"> {{row.Nombre_Proceso}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Area">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;" flex="20">
                            <b>
                                <mat-form-field>
                                    <input matInput placeholder="Área de Negocio"
                                        [(ngModel)]="filterEntity.Nombre_AreaNegocio">
                                </mat-form-field>
                            </b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" flex="20"> {{row.Nombre_AreaNegocio}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Nombre_EstadoEjecucionInformatica">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;" flex="20">
                            <b>
                                <mat-form-field>
                                    <input matInput placeholder="Ejecución Proceso"
                                        [(ngModel)]="filterEntity.Nombre_EstadoEjecucionInformatica">
                                </mat-form-field>
                            </b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" flex="20"> {{ row.Nombre_EstadoEjecucionInformatica }}  </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="FechaHora_InicioEjecucion">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;" flex="20">
                            <b>
                                <mat-form-field>
                                    <input matInput placeholder="Fecha Ejecución" [(ngModel)]="filterEntity.Fecha">
                                </mat-form-field>
                            </b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" flex="20"> {{ row.FechaHora_InicioEjecucion }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="EstadoOperador">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;" flex="20">
                            <b>
                                <mat-form-field>
                                    <input matInput placeholder="Estado Operador"
                                        [(ngModel)]="filterEntity.Nombre_EstadoOperadorEjecucionProceso">
                                </mat-form-field>
                            </b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" flex="20"> {{ row.Nombre_EstadoOperadorEjecucionProceso }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="EstadoUsuario">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;" flex="20">
                            <b>
                                <mat-form-field>
                                    <input matInput placeholder="Estado Usuario"
                                        [(ngModel)]="filterEntity.Nombre_EstadoUsuarioEjecucionProceso" flex="20">
                                </mat-form-field>
                            </b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" flex="20"> {{ row.Nombre_EstadoUsuarioEjecucionProceso }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Reprogramar">
                        <mat-header-cell *matHeaderCellDef style="color: black;" flex="10"><b>Reprogramar</b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" flex="10">
                            <button mat-icon-button color="blue" (click)="BuscarProceso(row.Nombre_Proceso, row.Id_Proceso,row.Id_EstadoEjecucionInformatica)"
                                [disabled]="disableProgramacion(row.Id_Proceso, row.FechaHora_InicioEjecucion,row.Id_EstadoEjecucionInformatica,row.Id_ProgramacionPeriodica)">
                                <mat-icon class="mat-18">schedule</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Logs">
                        <mat-header-cell *matHeaderCellDef style="color: black;" flex="5"><b>Logs</b> </mat-header-cell>
                        <mat-cell *matCellDef="let row" flex="5">
                            <button mat-icon-button color="blue"
                                [routerLink]="[row.Nombre_Proceso, row.FechaHora_InicioEjecucion , row.Nombre_AreaNegocio, 'edit']">
                                <mat-icon class="mat-18">edit</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
        <div [hidden]="isLoading">
            <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]">
            </mat-paginator>
        </div>
    </mat-card>
    <!-- </ng-template> -->
</td-layout-nav>