<td-layout-nav logo="assets:logobank" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Solicitud de procesos {{NombreEstadoProceso}}</span>
    <span flex></span>
  </div>
  <td-layout-card-over cardTitle="Solicitud"
    cardSubtitle="Llene el formulario para reprogramar el proceso: {{ NombreProceso }}">
    <ng-template tdLoading="solicitud.form">
      <mat-card-content class="push-bottom-none">
        <form #solicitudForm="ngForm">
          <div layout="row" class="push-top">
            <mat-form-field>
              <input matInput #FechaHora_SugeridaElement #FechaHora_SugeridaControl="ngModel" type="datetime-local"
                name="FechaHora_Sugerida" placeholder="Fecha Hora de Ejecución Sugerida"
                [(ngModel)]="FechaHora_Sugerida" (blur)="validarHoraEje();" required>
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-form-field flex>
              <mat-label>Tipo de Justificación</mat-label>
              <mat-select [(ngModel)]="Id_Justificacion" name="Id_Justificacion" required [disabled]="true">
                <mat-option *ngFor="let justificacion of OPE_TipoJustificacion"
                  [value]="justificacion.Id_TipoEjecucionDemanda">
                  {{justificacion.Nombre_TipoEjecucionDemanda}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-form-field flex>
              <input matInput #Justificacion_ProcesoElement #Justificacion_ProcesoControl="ngModel" type="text"
                placeholder="Justificacion" [(ngModel)]="Justificacion_Proceso" name="Justificacion_Proceso"
                (blur)="validarEspacios(Justificacion_Proceso,Justificacion_ProcesoControl);" maxlength="500"
                minlength="3" required>
              <mat-hint align="start">
                <span [hidden]="Justificacion_ProcesoControl.pristine" class="tc-red-600">
                  <span [hidden]="!Justificacion_ProcesoControl.hasError('required')">Requerido</span>
                </span>
              </mat-hint>
              <mat-hint align="end">{{Justificacion_ProcesoElement.value.length}} / 500</mat-hint>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button [disabled]="!solicitudForm.form.valid" color="primary" (click)="save()">Solicitar</button>
        <button mat-button (click)="goBack()">Cancelar</button>
      </mat-card-actions>
    </ng-template>
  </td-layout-card-over>
</td-layout-nav>