<td-layout-nav logo="assets:logobank" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span style="color: white;">Parámetros</span>
    <span flex></span>
    <app-notificaciones></app-notificaciones>
  </div>
  <td-layout-manage-list [opened]="media.registerQuery('gt-sm') | async"
    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">

    <mat-card class="push-bottom-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <td-search-box class="push-left push-right" placeholder="buscar" [alwaysVisible]="true"
        (searchDebounce)="filterParametros($event)"></td-search-box>
      <mat-divider></mat-divider>
      <ng-template tdLoading="parametros.list">
        <mat-list class="will-load">
          <div class="pad" *ngIf="filteredParametros?.length === 0" layout="row" layout-align="center center">
            <h3>No existen parámetros para mostrar.</h3>
          </div>
          <ng-template let-parametro let-last="last" ngFor [ngForOf]="filteredParametros">
            <mat-list-item>
              <h3 matLine> {{parametro.NombreParametro}} </h3>
              <p matLine> {{parametro.ValorParametro}} </p>
              <p matLine class="mat-caption">{{parametro.DescripcionParametro}}</p>
              <span flex></span>
              <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                <div class="mat-caption tc-grey-500" flex-gt-xs="50">Creación:
                  {{ parametro.FechaCreacion | date:'yyyy-MM-dd hh:mm:ss a' }}
                </div>
                <div *ngIf="parametro.FechaModificacion.length >0" class="mat-caption tc-grey-500" flex-gt-xs="50">
                  Modificación:
                  {{ parametro.FechaModificacion | date:'yyyy-MM-dd hh:mm:ss a' }} </div>
              </span>
              <span>
                <button mat-icon-button [mat-menu-trigger-for]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu x-position="before" #menu="matMenu">
                  <a [routerLink]="[parametro.Id_Parametro, 'edit']" mat-menu-item>
                    <mat-icon>edit</mat-icon> Editar
                  </a>
                  <button mat-menu-item (click)="delete(parametro.Id_Parametro)">
                    <mat-icon>delete</mat-icon> Eliminar
                  </button>
                </mat-menu>
              </span>
            </mat-list-item>
            <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
          </ng-template>
        </mat-list>
      </ng-template>
    </mat-card>
  </td-layout-manage-list>
</td-layout-nav>
<a mat-fab color="accent" class="mat-fab-bottom-right fixed z-3" [routerLink]="['add']">
  <mat-icon>add</mat-icon>
</a>