<div layout="column" layout-fill>
  <mat-toolbar color="primary" class="bgc-blue-900">
    <mat-toolbar-row>
      <span>Login</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="mat-content" layout-padding flex>
    <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
      <div flex-gt-xs="50">
        <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
          <mat-card-title><span><img src="assets/icons/logobank.svg" width="150"></span></mat-card-title>
          <mat-card-subtitle><b>Operación BI WEB</b></mat-card-subtitle>
        </mat-card>
      </div>
    </div>    
  </div>
</div>