<td-layout-nav logo="assets:logobank" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Areas de Negocio</span>
    <span flex></span>
  </div>
    <mat-card class="push-bottom-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true" (searchDebounce)="filterareas($event)"></td-search-box>
      <mat-divider></mat-divider>
      
      <ng-template tdLoading="areas.list">
        <mat-list class="will-load">
          <div class="pad" *ngIf="filteredAreas?.length === 0" layout="row" layout-align="center center">
            <h3>No existen áreas para mostar.</h3>
          </div>
          <ng-template let-area let-last="last" ngFor [ngForOf]="filteredAreas">
            <mat-list-item>
              <mat-icon matListAvatar>person</mat-icon>
              <h3 matLine> {{area.Nombre_AreaNegocio}} </h3>
              <p matLine> {{area.Desc_AreaNegocio}} </p>
              <span flex></span>
              <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ area.Nombre_CarpetaWorkflows }} </div>
                  <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ area.Num_InicioRangoCodProceso }} </div>
                  <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ area.Num_FinRangoCodProceso }} </div>
              </span>
              <span>
                  <button mat-icon-button [mat-menu-trigger-for]="menu">
                  <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu x-position="before" #menu="matMenu">
                      <a [routerLink]="[area.Id_AreaNegocio, 'edit']" mat-menu-item>
                        <mat-icon>edit</mat-icon> Edit
                      </a>
                      <button mat-menu-item (click)="delete(area.Id_AreaNegocio)">
                        <mat-icon>delete</mat-icon> Delete
                      </button>
                  </mat-menu>
              </span>
            </mat-list-item>
            <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
          </ng-template>
        </mat-list>
      </ng-template>
    </mat-card>  
</td-layout-nav>
<a mat-fab color="accent" class="mat-fab-bottom-right fixed z-3" [routerLink]="['add']">
  <mat-icon>add</mat-icon>
</a>
