<td-layout-nav logo="assets:logobank" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Aprobar Ejecución de Proceso por Demanda</span>
    <span flex></span>
  </div>
  <td-layout-card-over cardTitle="Aprobar Ejecución del Proceso" cardSubtitle="Revise cada Item y apruebe en su totalidad">
    <div layout-gt-sm="column2">
      <mat-card flex-gt-sm>
        <mat-card-content class="push-bottom-none">
          <form #aprobacionForm="ngForm">
            <td-expansion-panel label="Procesos Prerrequisito" [disabled]="disabled">
              <div class="md-padding">
                <ng-template tdLoading="procesosPrerequisito.list">
                  <mat-list class="will-load">
                    <div class="pad" *ngIf="procesosPrerequisito?.length === 0" layout="row" layout-align="center center">
                      <h3>No existen procesos para mostrar.</h3>
                    </div>
                    <ng-template let-proceso let-last="last" ngFor [ngForOf]="procesosPrerequisito">
                      <mat-list-item>
                        <mat-icon matListAvatar>business</mat-icon>
                        <h3 matLine> {{proceso.Nombre_Proceso}} </h3>
                        <p matLine> {{proceso.Nombre_EstadoOperadorEjecucionProceso}} </p>
                        <span flex></span>
                        <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                          <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ proceso.Fecha | date:'yyyy-MM-dd' }} </div>
                          <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ (proceso.Nombre_EstadoOperadorEjecucionProceso !== null) ? proceso.Nombre_EstadoOperadorEjecucionProceso : (proceso.Nombre_EstadoEjecucionInformatica !== null) ? proceso.Nombre_EstadoEjecucionInformatica : (proceso.Cb_ProcesoEjecutado === 'N') ? "No Ejecutado" : "Vencido" }} </div>
                        </span>
                      </mat-list-item>
                      <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                    </ng-template>
                  </mat-list>
                </ng-template>

                <div layout="row" class="pad-sm">
                  <mat-slide-toggle
                    #Cb_AprobacionProcesoElement
                    #Cb_AprobacionProcesoControl
                    [(ngModel)]="Cb_AprobacionProceso"
                    
                    name="Cb_AprobacionProceso"
                  required>
                    Aprobación Procesos Prerrequisito
                </mat-slide-toggle>
              </div>
              </div>
            </td-expansion-panel>

            <td-expansion-panel label="Archivos Prerrequisito" [disabled]="disabled">
              <div class="md-padding">
                <ng-template tdLoading="logs.list">
                  <mat-list class="will-load">
                    <div class="pad" *ngIf="logs?.length === 0" layout="row" layout-align="center center">
                      <h3>No existen archivos en las rutas para mostrar.</h3>
                    </div>
                    <ng-template let-item let-last="last" ngFor [ngForOf]="logs">
                      <a mat-list-item layout-align="row" >
                        <mat-icon matListAvatar> folder_shared </mat-icon>
                        <span flex></span>
                        <span class="mat-caption" > {{item.NombreArchivos }} </span>
                        <span flex></span>
                        <span class="mat-caption" > {{item.rutaArchivo }} </span>
                        <span flex></span>
                        <span class="mat-caption" > {{item.Fecha }} </span>
                      </a>
                      <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                    </ng-template>
                  </mat-list>
                </ng-template>

                <div layout="row" class="pad-sm">
                  <mat-slide-toggle
                    #Cb_AprobacionRutaElement
                    #Cb_AprobacionRutaControl
                    [(ngModel)]="Cb_AprobacionRuta"
                    name="Cb_AprobacionRuta"
                    [disabled]="DisabledAR"
                    required>
                    Aprobación Ruta Prerrequisito
                  </mat-slide-toggle>
                </div>
              </div>
            </td-expansion-panel>

            <td-expansion-panel label="Fechas de Ejecución" [disabled]="disabled">
              <div class="md-padding">
                <mat-form-field style="width: 25%;">
                  <input matInput
                    #FechaHora_InicioVentanaSugeridaAprobadaElement
                    #FechaHora_InicioVentanaSugeridaControl="ngModel"
                    type="datetime-local"
                    name="FechaHora_InicioVentanaSugerida"
                    placeholder="Fecha Hora Inicio Ventana Sugerida" 
                    [(ngModel)]="FechaHora_InicioVentanaSugerida"
                    readonly>       
                </mat-form-field>
                
                <mat-form-field style="width: 25%;">
                  <input matInput
                    #FechaHora_FinVentanaSugeridaElement
                    #FechaHora_FinVentanaSugeridaControl="ngModel"
                    type="datetime-local"
                    name="FechaHora_FinVentanaSugerida"
                    placeholder="Fecha Hora Fin Ventana Sugerida" 
                    [(ngModel)]="FechaHora_FinVentanaSugerida"
                    readonly>       
                </mat-form-field>

                <mat-form-field style="width: 25%;">
                  <input matInput
                    #FechaHora_EjecucionAprobadaElement
                    #FechaHora_EjecucionAprobadaControl="ngModel"
                    type="datetime-local"
                    name="FechaHora_EjecucionAprobada"
                    placeholder="Fecha Hora de Ejecución Sugerida" 
                    [(ngModel)]="FechaHora_Sugerida"
                    [min]="FechaHora_InicioVentanaSugerida"
                    [max]="FechaHora_FinVentanaSugerida"
                    (blur)="validarFechaSugerida();"
                    required>       
                </mat-form-field>
              </div>
            </td-expansion-panel>

          </form>
        </mat-card-content>
        
        <mat-card-actions>
          <button mat-button [disabled]="!aprobacionForm.form.valid" color="primary" (click)="aprobar()">Aprobar</button>
          <button mat-button (click)="goBack()">Cancelar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </td-layout-card-over>
</td-layout-nav>
