<td-layout-nav logo="assets:logobank" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="center center" flex>
        <span style="color: white;">Verificación de procesos programados</span>
        <span flex></span>
        <app-notificaciones></app-notificaciones>
    </div>

    <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
        <mat-card-title>Filtrar Procesos por Fecha</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div layout-gt-sm="column2">
                <form #filtroForm="ngForm">
                    <div layout-gt-sm="column2">
                        <div flex>
                            <mat-form-field flex>
                                <input #Fecha_InicioElement #Fecha_InicioControl="ngModel" name="Fecha_Inicio" matInput
                                    [matDatepicker]="picker" placeholder="Fecha Inicial" [(ngModel)]="Fecha_Inicio"
                                    format="dd/MM/yyyy" lang="es" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div flex>
                            <mat-form-field>
                                <input #Fecha_FinElement #Fecha_FinControl="ngModel" name="Fecha_Fin" matInput
                                    [matDatepicker]="picker2" placeholder="Fecha Final" [(ngModel)]="Fecha_Fin"
                                    format="dd/MM/yyyy" [min]="Fecha_Inicio" lang="es" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                </form>
                <mat-card-actions>
                    <button flex mat-raised-button color="accent" [disabled]="!filtroForm.form.valid"
                        (click)="load()">Buscar</button>
                </mat-card-actions>

            </div>
        </mat-card-content>
    </mat-card>

    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="isLoading" style="margin: auto;"></mat-progress-spinner>
    <mat-card class="push-bottom-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="show">
        <div class="pad" *ngIf="!isLoading && filteredEjecuciones?.length === 0" layout="row"
            layout-align="center center">
            <h3>No existen procesos programados para las fechas indicadas.</h3>
        </div>
        <div [hidden]="isLoading">
            <div class="example-container mat-elevation-z8">
                <mat-table matTableFilter [exampleEntity]="filterEntity" [filterType]="filterType"
                    [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                    <ng-container matColumnDef="Nombre_Proceso">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;">
                            <b>
                                <mat-form-field>
                                    <input matInput placeholder="Nombre Proceso"
                                        [(ngModel)]="filterEntity.Nombre_Proceso">
                                </mat-form-field>
                            </b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Nombre_Proceso}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Nombre_AreaNegocio">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;">
                            <b>
                                <mat-form-field>
                                    <input matInput placeholder="Área de Negocio"
                                        [(ngModel)]="filterEntity.Nombre_AreaNegocio">
                                </mat-form-field>
                            </b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Nombre_AreaNegocio}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Fecha">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;">
                            <b>
                                <mat-form-field>
                                    <input matInput placeholder="Fecha Programada Ejecución"
                                        [(ngModel)]="filterEntity.Fecha">
                                </mat-form-field>
                            </b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Fecha | date:'yyyy-MM-dd'}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Hora_EjecucionProgramada">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;">
                            <b>
                                <mat-form-field>
                                    <input matInput placeholder="Hora Programada Ejecución"
                                        [(ngModel)]="filterEntity.Hora_EjecucionProgramada">
                                </mat-form-field>
                            </b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Hora_EjecucionProgramada}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Cb_ProgramacionAprobada">
                        <mat-header-cell *matHeaderCellDef style="color: black;">
                            <b>
                                Estado de aprobación
                            </b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{row.Cb_ProgramacionAprobada | estadoAprobacion: row.Cb_Vencido}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="RevisarAprobar">
                        <mat-header-cell *matHeaderCellDef style="color: black;"><b>Revisar y Aprobar</b>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button mat-icon-button color="blue"
                                [routerLink]="[row.Id_Proceso, row.Id_ProgramacionPeriodica, row.Nombre_AreaNegocio, row.Fecha, 'edit']">
                                <mat-icon class="mat-18">check_circle</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>
            </div>
        </div>
        <div [hidden]="isLoading">
            <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]">
            </mat-paginator>
        </div>
    </mat-card>
</td-layout-nav>