<td-layout-nav logo="assets:logobank" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Área de Negocio</span>
    <span flex></span>
  </div>
  <td-layout-card-over cardTitle="Área" cardSubtitle="Llene el formulario para agregar área">
    <ng-template tdLoading="area.form">
      <mat-card-content class="push-bottom-none">
        <form #areaForm="ngForm">
          <div layout="row">
            <mat-form-field flex> 
              <input matInput
                      #Nombre_AreaNegocioElement
                      #Nombre_AreaNegocioControl="ngModel"
                      type="text" 
                      placeholder="Nombre" 
                      [(ngModel)]="Nombre_AreaNegocio" 
                      name="Nombre_AreaNegocio"
                      maxlength="30"
                      (blur)="validarEspacios(Nombre_AreaNegocio, Nombre_AreaNegocioControl);"
                      [disabled]="Id_AreaNegocio"
                      required>
              <mat-hint align="start">
                <span [hidden]="Nombre_AreaNegocioControl.pristine" class="tc-red-600">
                  <span [hidden]="!Nombre_AreaNegocioControl.hasError('required')">Requerido</span>
                </span>
              </mat-hint>
              <mat-hint align="end">{{Nombre_AreaNegocioElement.value.length}} / 30</mat-hint>
            </mat-form-field>
          </div>
          <div layout="row" class="push-top">
            <mat-form-field flex> 
              <input matInput
                      #Desc_AreaNegocioElement
                      #Desc_AreaNegocioControl="ngModel"
                      type="text" 
                      placeholder="Descripción Area Negocio" 
                      [(ngModel)]="Desc_AreaNegocio" 
                      name="Desc_AreaNegocio"
                      (blur)="validarEspacios(Desc_AreaNegocio,Desc_AreaNegocioControl);"
                      maxlength="100"
                      required>
              <mat-hint align="start">
                <span [hidden]="Desc_AreaNegocioControl.pristine" class="tc-red-600">
                  <span [hidden]="!Desc_AreaNegocioControl.hasError('required')">Required</span>
                </span>
              </mat-hint>
              <mat-hint align="end">{{Desc_AreaNegocioElement.value.length}} / 100</mat-hint>
            </mat-form-field>
          </div>
          <div layout="row"  class="push-top">
            <mat-form-field flex> 
              <input matInput
                      #Nombre_CarpetaWorkflowsElement
                      #Nombre_CarpetaWorkflowsControl="ngModel"
                      type="text" 
                      placeholder="Nombre Carpeta" 
                      [(ngModel)]="Nombre_CarpetaWorkflows" 
                      name="Nombre_CarpetaWorkflows"
                      (blur)="validarEspacios(Nombre_CarpetaWorkflows,Nombre_CarpetaWorkflowsControl);"
                      maxlength="100" 
                      required>
              <mat-hint align="start">
                <span [hidden]="Nombre_CarpetaWorkflowsControl.pristine" class="tc-red-600">
                  <span [hidden]="!Nombre_CarpetaWorkflowsControl.hasError('required')">Required</span>
                </span>
              </mat-hint>
              <mat-hint align="end">{{Nombre_CarpetaWorkflowsElement.value.length}} / 100</mat-hint>
            </mat-form-field>
          </div>
          <div layout="row"  class="push-top">
            <mat-form-field flex> 
              <input matInput
                      #Num_InicioRangoCodProcesoElement
                      #Num_InicioRangoCodProcesoControl="ngModel"
                      type="number" 
                      placeholder="Número Rango Inicio" 
                      [(ngModel)]="Num_InicioRangoCodProceso" 
                      name="Num_InicioRangoCodProceso" 
                      max="9999" 
                      onKeyPress="if(this.value.length==4) return false; return event.charCode >= 48 && event.charCode <=57;"
                      (blur)="validarCero(Num_InicioRangoCodProceso, Num_InicioRangoCodProcesoControl);"
                      min="1"
                      required>
              <mat-hint align="start">
                <span [hidden]="Num_InicioRangoCodProcesoControl.pristine" class="tc-red-600">
                  <span [hidden]="!Num_InicioRangoCodProcesoControl.hasError('required')">Requerido: </span>
                  <span *ngIf="!Num_InicioRangoCodProcesoControl.hasError('minlength')">Valor mínimo: 1 </span>
                  <span *ngIf="!Num_InicioRangoCodProcesoControl.hasError('maxlength')">Valor máximo: 9999</span>
                </span>
              </mat-hint>
              <mat-hint align="end">{{Num_InicioRangoCodProcesoElement.value.length}} / 4</mat-hint>
            </mat-form-field>
          </div>
          <div layout="row"  class="push-top">
            <mat-form-field flex> 
              <input matInput
                      #Num_FinRangoCodProcesoElement
                      #Num_FinRangoCodProcesoControl="ngModel"
                      type="number" 
                      placeholder="Número Rango Fin" 
                      [(ngModel)]="Num_FinRangoCodProceso" 
                      name="Num_FinRangoCodProceso" 
                      max="9999" 
                      onKeyPress="if(this.value.length==4) return false; return event.charCode >= 48 && event.charCode <=57; "
                      (blur)="validarCero(Num_FinRangoCodProceso, Num_FinRangoCodProcesoControl);"
                      min="1"
                      required>
              <mat-hint align="start">
                <span [hidden]="Num_FinRangoCodProcesoControl.pristine" class="tc-red-600">
                  <span [hidden]="!Num_FinRangoCodProcesoControl.hasError('required')">Requerido: </span>
                  <span *ngIf="!Num_FinRangoCodProcesoControl.hasError('minlength')">Valor mínimo: 1 </span>
                  <span *ngIf="!Num_FinRangoCodProcesoControl.hasError('maxlength')">Valor máximo: 9999</span>
                </span>
              </mat-hint>
              <mat-hint align="end">{{Num_FinRangoCodProcesoElement.value.length}} / 4</mat-hint>

            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button [disabled]="!areaForm.form.valid" color="primary" (click)="save()">Guardar</button>
        <button mat-button (click)="goBack()">Cancelar</button>
      </mat-card-actions>
    </ng-template>
  </td-layout-card-over>
</td-layout-nav>
